[submodule "packages/lib/forge-std"]
	path = packages/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/hardhat/lib/openzeppelin-contracts"]
	path = packages/hardhat/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
